.max-sm {
    max-width: 30em;
}

.svg-icon {
    fill: currentColor;
}

a {
    color:#999;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.dribbble-link:hover {
    color: #E72976;
}

.tumblr-link:hover {
    color: #35465c;
}

.flickr-link:hover {
    color: #0063dc;
}

.dark-gray {
    color:#999;
}

