body {
    background-color: #ffffff;
    color: #ffb400;
    text-transform:uppercase;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 120%;
    margin: 0px;
}

a {
    color: #ffb400;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

#text {
  z-index: 10000;
  position: absolute;
  padding: 15px;
}